<ion-header>
    <ion-toolbar>
        <ion-title>
            Tab Two
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-button>
            <img class="btn_img"  src="https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=1121638808,1150222202&fm=15&gp=0.jpg"/>
        </ion-button>

    </ion-card>
    <ion-card>
        <img class="btn_img"
             src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=176893718,3913754674&fm=15&gp=0.jpg"/>
    </ion-card>
    <ion-card>
        <img class="btn_img"
             src="https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=1121638808,1150222202&fm=15&gp=0.jpg"/>
    </ion-card>
    <ion-card>
        <img class="btn_img"
             src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=176893718,3913754674&fm=15&gp=0.jpg"/>
    </ion-card>
    <ion-card>
        <img class="btn_img"
             src="https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=1121638808,1150222202&fm=15&gp=0.jpg"/>
    </ion-card>
    <ion-card>
        <img class="btn_img"
             src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=176893718,3913754674&fm=15&gp=0.jpg"/>
    </ion-card>
</ion-content>
